* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/library-bg.jpg);

  background-repeat: no-repeat;
  background-size: calc(100%);
}
